// You can put your custom (S)CSS code here.
// You can use any variable declared in the other configuration files
@mixin custom-generic {
  summary p{
    display: inline-block;
  }

  h1, h2 {
    margin: 0;
    padding: 0;
  }

  input[type="number"] {
    width: 3em;
  }

  .hidden {
    display: none;
  }

  img {
    max-width: 100%;
  }

  figure {
    &img {
      max-width: 50%;
    }

    &figcaption {
      text-align: center;
    }
  }
}

@mixin custom-screen {
  // Styles here will be applied only to screen
}

@mixin custom-print {
  // Styles here will be applied only to print
}

@mixin custom-page {
  // Styles here will be applied in print to the @page directive
}
